body {
    background-color: #242424;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#header {
    height: 190px;
    width: 100%;
    background-color: #F7DC15;
}

#rotate {
    height: 70px;
    width: 100%;
    background-color: #191919;  
    /*transform: rotate(-2.5deg);   
    -ms-transform: rotate(-2.5deg);
    -webkit-transform: rotate(-2.5deg);
    position: absolute;
    top: 335px;
    left: 0;*/ 
}

main {
    width: 80%;
    margin: 0 auto 100px;
    background-color: #BBA175;
    display: block;
}

.homeSection {

}

.aboutUsSection {
    background-image: url('../img/aboutUsBackground.png');
}

.ourMissionSection {
    background-image: url('../img/ourMissionBackground.png');
}

.submitATipSection {
    background-color: #545654;
    font-family: Garamond, Georgia, Serif;
}

.submitATipSection > header > h4, h5 {
    color: #FFD90E;
}

.contactsSection {
    background-color: #545654;
}

#homeArticle {

}

.aboutUsArtcl {
    padding: 65px;       
}

.ourMissionArtcl {
    padding: 0 65px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: Garamond, Georgia, Serif;
}

.ourMissionArtcl:last-of-type {
    padding-bottom: 65px;
}

.submitATipArtcl {
    padding: 0 65px 65px 65px;
}

.contactsArtcl {
    padding: 65px;
}

.fieldDiv {
    margin-top: 30px;
}

label {
    width: 110px;
    margin-top: 7px;
    display: inline-block;
    font-size: 20px;    
    font-weight: bold;
    color: #BEBEBE;
    font-family: Garamond, Georgia, Serif;
    vertical-align: top;
}

.submitATipArtcl > form > .fieldDiv > input {
    height: 35px;
    width: 250px;
    font-size: 20px;    
    background-color: black;
    color: #BEBEBE;
    font-family: Garamond, Georgia, Serif;
    border: 1px solid #BEBEBE;
}

#contactsContainer > form > .fieldDiv > input {
    height: 25px;
    width: 200px;
    font-size: 15px;    
    background-color: black;
    color: #BEBEBE;
    font-family: Garamond, Georgia, Serif;
    border: 1px solid #BEBEBE;
}

.submitATipArtcl > form > .fieldDiv > textarea {
    height: 300px;
    width: 510px;
    resize: none;
    background-color: black;
    font-family: Garamond, Georgia, Serif;
    color: #BEBEBE;
}

#contactsContainer > form > .fieldDiv > textarea {
    height: 150px;
    width: 280px;
    resize: none;
    font-size: 15px; 
    background-color: black;
    font-family: Garamond, Georgia, Serif;
    color: #BEBEBE;
}

.aboutUsInfo {
    height: 100px;
    margin-top: 15px;
}

.personalDescription {
    height: 100%;
    width: 460px;
    margin-top: 5px;
    display: inline-block;
    float: right;
    font-size: 15px;
    font-family: Garamond, Georgia, Serif;
    color: #000;
    font-weight: bold;
}

#contactsContainer {
    width: 290px;
    display: inline-block;
    vertical-align: top;
}

#mapContainer {
    width: 320px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}

footer {
    height: 260px;
    width: 100%;
    background-color: #0E0E0E;
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-family: "Rockwell Condensed", Georgia, Serif;
    padding-top: 20px;
    padding-left: 25px;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-family: "Rockwell Condensed", Georgia, Serif;
    padding-top: 15px;
    padding-left: 80px;
}

h3 {
    font-size: 45px;
    line-height: 45px;
    font-family: "Segoe UI", Georgia, Serif;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

h4 {
    font-size: 35px;
    line-height: 35px;
    padding: 65px 65px 0 65px;
    font-family: Garamond, Georgia, Serif;
    color: #000;
    font-weight: bold;
}

h5 {
    font-size: 70px;
    line-height: 70px;
    padding: 0 65px;
    font-family: Garamond, Georgia, Serif;
    font-weight: bold;
}

h6 {
    font-size: 18px;
    line-height: 18px;
    padding: 20px 0 0;
    font-family: Garamond, Georgia, Serif;
}

.aboutUsInfo > figure {
    display: inline-block;
}

#mapContainer > figure:last-child {
    margin-top: 20px;
}

ul {
    margin-left: 40px;
}

li {
    height: 100%;
    width: 175px;
    display: inline-block;
}

#footerContainer {
    height: 215px;
    width: 90%;
    margin: 0 auto;
}

dl {
    color: #fff;
    height: 195px;
    width: 25%;
    padding-top: 20px;
    display: inline-block;
    float: left;
}

dt {
    font-size: 23px;
    font-family: "Segoe UI", Georgia, Serif;
    color: #fff;
    font-weight: lighter;
    padding: 10px;
}

dd {    
    padding: 5px;
    padding-left: 10px;
}

.headerMenu {
    height: 50px;
    width: 100%;
    display: block;
    font-size: 30px;
    text-align: center;
    font-family: "Rockwell Condensed", Georgia, Serif;
    text-decoration: none;
    padding-top: 20px;
    background-color: #191919;
    color: #F5D20A;
}

.personalInfo {
    font-size: 20px;
    font-family: "Segoe UI", Georgia, Serif;
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
}

h6 > a {
    text-decoration: none;
    color: #000;
}

li > a:hover {
    background-color: #F5D20A;
    color: #202020;
}

.personalInfo:hover {
    background-color: #fff;
    color: #202020;
}